{{define "title"}}Privacy Policy{{end}}
{{define "content"}}
<div class="container">
    <section class="hero is-light is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Privacy Policy</h1>
            </div>
        </div>
    </section>

    <div class="block p-4">
        <div class="content">
            <p>
                This page describes the treatment of your data and privacy-related aspects of this website.
            </p>

            <p>
                <strong class="has-text-danger">
                    This is only a template!
                </strong>
                This website is based on <a href="https://github.com/cuvou/gosocial">GoSocial</a>,
                an open source social networking app. If you are reading this, it seems that the owner
                of this website has not customized this page!
            </p>
        </div>
    </div>
</div>
{{end}}
