{{define "title"}}Terms of Service{{end}}
{{define "content"}}
<div class="container">
    <section class="hero is-light is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Terms of Service</h1>
            </div>
        </div>
    </section>

    <div class="block p-4">
        <div class="content">
            <p>
                This page lays down the ground rules for this site. By signing up and using this
                website, you agree to follow the rules listed below.
            </p>

            <p>
                <strong class="has-text-danger">
                    This is only a template!
                </strong>
                This website is based on <a href="https://github.com/cuvou/gosocial">GoSocial</a>,
                an open source social networking app. If you are reading this, it seems that the owner
                of this website has not customized this page!
            </p>

            <ul>
                <li><a href="#summary">Summary</a></li>
                <li><a href="#service-level-agreement">Service Level Agreement</a></li>
                <li><a href="#feature-requests">Site Criticism and Feature Requests</a></li>
            </ul>

            <h1 id="summary">Summary <a href="#summary" class="fa fa-paragraph is-size-6"></a></h1>

            <ol>
                <li>
                    <strong>Have fun.</strong>
                </li>
                <li>
                    <strong>Be kind.</strong>
                </li>
            </ol>

            <hr>

            <h1 id="service-level-agreement">Service Level Agreement <a href="#service-level-agreement" class="fa fa-paragraph is-size-6"></a></h1>

            <ul>
                <li>
                    We can not guarantee that service will be uninterrupted, error-free or completely
                    secure. You acknowledge that there are risks inherent in Internet connectivity that
                    could result in the loss of your privacy, Confidential Information and property.
                </li>
                <li>
                    We can not guarantee that your content (messages, profile data, photos or forum
                    posts) will be safe from data loss or catastrophic failure of our service, and
                    request that you keep your own backups of anything important or sentimental.
                </li>
            </ul>

            <hr>

            <h1 id="feature-requests">Site Criticism and Feature Requests <a href="#feature-requests" class="fa fa-paragraph is-size-6"></a></h1>

            <p>
                We always appreciate your ideas and criticisms about features for this website. Should
                we implement a feature that you have requested, we are under no obligation to compensate
                you monetarily for the idea just as you are under no obligation to suggest your ideas.
            </p>

        </div>
    </div>
</div>
{{end}}
