:root {
    --bulma-link-text: hsl(204, 100%, 73%);
}

/*
 * Forum Color overrides for dark theme.
 */
 .gosocial-forum-box-1 {
    /* Outermost box: Forum or Thread top-level wrappers */
    background-color: #3b1638;
}
.gosocial-forum-box-2 {
    /* Nested box: "Latest Post" on Forum-level views */
    background-color: #42143e;
}
.gosocial-forum-box-3 {
    /* Nested box: Topics/Posts/Users/View counters */
    background-color: #1e122c;
}