:root {
    --bulma-primary-h: 99deg;
    --bulma-link-h: 112deg;
    --bulma-link-l: 18%;
    --bulma-scheme-h: 95;
    --bulma-link-text: #009900;
}

/*
 * Forum Colors: with all the nested boxes, Bulma's default color scheme is
 * too limited for a good experience.
 */
 .gosocial-forum-box-1 {
  /* Outermost box: Forum or Thread top-level wrappers */
  background-color: #d1ffd1;
}
.gosocial-forum-box-2 {
  /* Nested box: "Latest Post" on Forum-level views */
  background-color: #e3f1d0;
}
.gosocial-forum-box-3 {
  /* Nested box: Topics/Posts/Users/View counters */
  background-color: #c2ffe8;
}

/* Chat members in top nav bar on desktop */
.gosocial-navbar-notification-tag.is-link {
  background-color: rgb(28, 133, 33);
  color: #fff;
}