/*
 * Forum Color overrides for dark theme.
 */
 .gosocial-forum-box-1 {
    /* Outermost box: Forum or Thread top-level wrappers */
    background-color: #37163b;
}
.gosocial-forum-box-2 {
    /* Nested box: "Latest Post" on Forum-level views */
    background-color: #3e1442;
}
.gosocial-forum-box-3 {
    /* Nested box: Topics/Posts/Users/View counters */
    background-color: #1e122c;
}